body{
    background-color: #2f2e30;
}
.main{
    
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dice-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    }
    
    .dice {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(227, 217, 217, 0.25);
    }
    
    .dice-dot {
    --top: 0%;
    --left: 0%;
    
    width: 15px;
    height: 15px;
    background-color: #61d7df;
    border-radius: 50%;
    
    position: absolute;
    top: var(--top);
    left: var(--left);
    transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top) * -1));
    }
    
.btn-start {
    cursor: pointer;
    width: 100px;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    padding-right: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f2e30;
    box-shadow: 0 0 10px rgba(227, 217, 217, 0.25);
    color: white;
}